<header class="site-header" role="banner">
  <div class="row">
    <a href="{{ "/" | relative_url }}"><h2 class="site-title">N.N Computing</h2></a>
<link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">  
    <div class="column contact-3">
      <a href="{{ "/feed.xml" | relative_url }}">
        <img class=link_icon src="{{site.baseurl}}/assets/images/rss.png"/>
      </a>
    </div>

    <div class="column contact-3">
      <a href="https://www.linkedin.com/in/natalie-niemeir-19b37a207" target="_blank" rel="noopener noreferrer"><img
          class=link_icon src="{{site.baseurl}}/assets/images/linkedin.png"/>
      </a>
    </div>

    <div class="column contact-2">
      <a href="https://github.com/nniemeir/" target="_blank" rel="noopener noreferrer"><img class=link_icon
          src="{{site.baseurl}}/assets/images/github.png"" />
      </a>
    </div>
    <div class="column contact-1">
      <a href="mailto:nniemeir@protonmail.com"><img class=link_icon src="{{site.baseurl}}/assets/images/email.png"/></a>
    </div>
  </div>
</header>
